@using ExampleSite.Controllers.Surface
@model ExampleSite.ViewModels.ContactFormViewModel

@{
    //Client Side Validation
    Html.EnableClientValidation(true);
    Html.EnableUnobtrusiveJavaScript(true);

    //Create an Umbraco Helper off the current Umbraco Context (Uppercase to match normal helper availble in Umbraco Views)
    var Umbraco = new UmbracoHelper(UmbracoContext.Current);
}

@if (Convert.ToBoolean(TempData["IsSuccessful"]))
{
    <p>@Umbraco.GetDictionaryValue("Site.Contact.Thanks")</p>
}
else
{

    using (Html.BeginUmbracoForm<ContactFormSurfaceController>("HandleContactForm"))
    {
        @Html.ValidationSummary()

        <div>
            @Html.DisplayNameFor(model => model.FirstName)
            @Html.TextBoxFor(model => model.FirstName)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Surname)
            @Html.TextBoxFor(model => model.Surname, new { placeholder = Umbraco.GetDictionaryValue("Site.Contact.Optional") })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Surname)
        </div>
    
        <div>
            @Html.DisplayNameFor(model => model.Phone)
            @Html.EditorFor(model => model.Phone, new { placeholder = Umbraco.GetDictionaryValue("Site.Contact.Optional") })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
    
        <div>
            @Html.DisplayNameFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    
        <div>
            @Html.DisplayNameFor(model => model.Message)
            @Html.TextAreaFor(model => model.Message)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Message)
        </div>
    
        <div>
            @Html.CheckBoxFor(model => model.AcceptedTerms)
            @Html.DisplayNameFor(model => model.AcceptedTerms)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.AcceptedTerms)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Age)
            @Html.TextBoxFor(model => model.Age)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Age)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.Password)
            @Html.TextBoxFor(model => model.Password)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.ConfirmPassword)
            @Html.TextBoxFor(model => model.ConfirmPassword)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.StringLength)
            @Html.TextBoxFor(model => model.StringLength)
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.StringLength)
        </div>

        @Html.AntiForgeryToken()

        <input type="submit" value="@Umbraco.GetDictionaryValue("Site.Contact.Send")" class="btn" />
    }
}